* {
    box-sizing: border-box;
}

:root {
    --primary-color: #5B797E;
    --secondary-color: #7E5B79;
    --third-color: #797E5B;
    --heading-font-weight: 700;
    --heading-font-family: 'Spectral, serif';
}

body {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-family: var(--heading-font-family);
    font-size: 30px;
    font-weight: var(--heading-font-weight);
}

h2 {
    font-family: var(--heading-font-family);
    font-size: 24px;
    font-weight: var(--heading-font-weight);
}

h3 {
    font-family: var(--heading-font-family);
    font-size: 18px;
    font-weight: var(--heading-font-weight);
}

a {
    color: var(--primary-color);
}
  
a:visited {
    color: var(--secondary-color);
}

a:hover, a:focus {
    text-decoration: none;
}

a:active {
    color: var(--third-color);
}

button, .button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s opacity;
}

button:hover, button:focus,
.button:hover,
.button:focus {
    cursor: pointer; cursor: hand;
    opacity: 0.8;
}

.button__secondary {
    background-color: var(--secondary-color);
    color: white;
  }

th {
    font-family: 'Spectral', serif;
}

.profile__portrait {
    float: left;
    width: 250px;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;

}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: black;
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:first-child {
    align-self: center;
    min-width: 0;
    max-width: 200px;
} 

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
    color: #fff;
}

table {
    border-collapse: collapse;
    width: 25%;
    vertical-align: bottom;
}

tr:nth-child(odd) {background-color: #f2f2f2dc;}

th {
    background-color: var(--primary-color);
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
}

.grid__item {
    display: inline-block;
    width: 33%;
}

@keyframes airplane-move {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(200px, -50px);
    }
}

#image4210 {
    animation: 10s airplane-move infinite normal linear;
}

@supports (display: grid) {
    .grid {
        display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
    }

    .grid__item {
        background-color: var(--primary-color);
        width: auto;
    }
}

@media all and (max-width: 500px) {
    .grid {
      grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
}