/* MAIN/GENERAL CSS */
* {
  box-sizing: border-box;
}

:root {
  --primary-color: #A3CDD4;
  --secondary-color: #5B797E;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Lilita One', cursive;
}

h2, h3, h4, h5, h6 {
  font-family: 'Lilita One', cursive;
}

p, button {
  font-family: 'Raleway', sans-serif;
}

.main-grid {
  display: grid;
  grid-template: repeat(auto-fit, minmax(64px,1fr)) / 1fr;
  width: 100%;
  align-items: center;
}

.section-grid {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 10fr 1fr;
  width: 100%;
  overflow: hidden;
  align-items: center;
  padding: 20px 0 20px 0;
}

@-ms-viewport{
  width: device-width;
}

/* HEADER CSS */
.header-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  width: 100%;
}

.header {
  background-color: black;
  width: 100%;
  margin: 0;
}

.header-1 {
  display: flex;
  align-items: center;
}

.header-2 {
  display: flex;
  justify-content: right;
  align-items: center;
}

.header-2 a {
  display: inline;
  text-align: center;
  padding-right: 15px;
}

.header-1 li {
  font-family: 'Lilita One', cursive;
  color: white;
  align-items: center;
  text-align: center;
  display: inline;
  float: left;
}

.header-1 li a {
  display: block;
  text-align: center;
  text-decoration: none;
  align-items: center;
  padding: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header-grid a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

@media only screen and (max-width: 900px) {
  
  ul.header-1 {
    display: none; 
  }
  .header-2 a {
    padding-right: 5px;
  }
}

@media only screen and (max-width: 600px) {
  img.nav-icon {
    padding: 0;
    width: auto;
    height: 25px !important;
  }
  img.logo-2 {
    padding: 0 10px 0 0 !important;
    height: 80px !important;
  }
  .header-2 a {
    padding-right: 5px;
  }
}

img.logo-2 {
  height: 90px;
  padding-right: 20px;
  padding-left: 20px;
}

img.nav-icon {
  height: 30px;
}

/* LANDING CSS */
.landing {
  background-color: var(--primary-color);
}

.landing-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {
  .landing-grid {
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr 1fr;
    text-align: center;
  }
  img.my-pic {
    padding-right: 10px;
  }
}

.section-grid.landing {
  padding: 10px;
}

.landing-1 {
  text-align: center;
  margin: 0;
}

.landing-2 {
  margin: auto;
  padding-bottom: 20px;
  justify-content: center;
}

.landing-content {
  padding-bottom: 15px;
}

img.my-pic {
  max-height: 350px;
  margin-top: 10px;
}

a.l-links {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  color:white;
  background-color: black;
  text-decoration: none;
  margin-right: 20px;
}

/* ABOUT CSS */
.about-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  gap: 10px;
}

@media (max-width: 1300px) {
  .about-grid {
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr 1fr;
    width: 100%;
  }
  .about-1 p {
    margin: auto;
  }
  svg#svg8 {
    height: auto;
    width: 100%;
  }
}

.about-1 {
  text-align: center;
}

.about-1 p {
  padding: 18px 15px 0 15px;
  margin: 0 20px 0 20px;
}

.about-2 {
  text-align: center;
}

/* SKILLS CSS */
.skills {
  background-color: #A3CDD4;
  color: black;
  padding-bottom: 30px;
  font-weight: 300;
}

.title-div.skills-title {
  text-align: center;
  background-color: #A3CDD4;
  color: black;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

}

.skills h3 {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

.container {
  width: 100%;
  background-color: #dddd;
}

.skill {
  padding: 5px 10px 5px 0;
  color: white;
  font-weight: 500;
  text-align: right;
}

.html {width: 90%; background-color: var(--secondary-color);}
.css {width: 80%; background-color: var(--secondary-color);}
.js {width: 70%; background-color: var(--secondary-color);}
.jquery {width: 60%; background-color: var(--secondary-color);}
.react {width: 65%; background-color: var(--secondary-color);}
.node {width: 70%; background-color: var(--secondary-color);}
.github {width: 75%; background-color: var(--secondary-color);}
.redux {width: 50%; background-color: var(--secondary-color);}
.mongo {width: 50%; background-color: var(--secondary-color);}
.aws {width: 30%; background-color: var(--secondary-color);}

/* PORTFOLIO CSS */
.div-title {
  align-items: center;
  text-align: center;
  padding: 40px 0 20px 0;
  margin: 0;
}

.div-title.portfolio {
  background-color: var(--primary-color);
  color: black;
}

.section-grid.portfolio {
  background-color: var(--primary-color);
  color:black;
  padding-top: 0px !important;
}

.portfolio-gif {
  max-height: 200px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding-bottom: 30px;
}

.portfolio-grid p {
  padding-left: 25px;
  padding-right: 25px;
  font-size: medium;
}

.portfolio-buttons {
  margin-bottom: 20px;
}

.portfolio-buttons button {
  padding: 7.5px 10px 7.5px 10px;
  margin: 5px;
  text-decoration: none;
  background-color: black;
}

.portfolio-buttons button:hover {
  background-color: #5B797E;
}

.portfolio-buttons a {
  text-decoration: none;
  font-weight: 500;
  color: white;
}

.portfolio-grid h3 {
  font-weight: lighter;
}

@media (max-width: 1475px) {
  .portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 950px) {
  .portfolio-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* INTERESTS */
.interest-title {
  padding-bottom: 20px;
}

.interests-section {
  background-color: white;
  padding-top: 0px !important;
}

.interests-intro-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

@media (max-width: 1250px) {
  .interests-intro-grid {
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    width: 100%;
  }
  svg#svg8 {
    width: 100% !important;
    max-width: 650px;
    height: auto;
    padding: 0;
  }
  .div-title.inter {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
}

svg#svg8 {
  height: 100%;
  width: 650px;
  margin: auto;
  padding: 0 0 10px 0;
  margin-top: 0px;
}

@keyframes airplane-move {
  from {
      transform: translate(0, 0);
  }
  to {
      transform: translate(100px, -50px);
  }
}

#image4210 {
  animation: 10s airplane-move infinite normal linear;
}

.interests-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  justify-content: center;
  gap: 8px;
  padding-bottom: 10px;
  grid-template-areas:
  "vid-1  pic-1   vid-2"
  "vid-3  pic-2   vid-4";
}

img.interest-img {
  height: 250px;
}

.drive-videos {
  display: flex;
  height: 250px;
  width: 430px;
  margin: auto;
  justify-content: center;
}

.vid-1 { grid-area: vid-1; }
.vid-2 { grid-area: vid-2; }
.vid-3 { grid-area: vid-3; }
.vid-4 { grid-area: vid-4; }
.pic-1 { grid-area: pic-1; }
.pic-2 { grid-area: pic-2; }

.more-about {
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 20px 30px 20px 30px;
  margin: auto;
  width: 100%;
}

@media (max-width: 1500px) {
  .interests-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    grid-template-areas:
    "vid-1  vid-2"
    "pic-1  pic-2"
    "vid-3  vid-4"
  }

  .drive-videos {
    display: flex;
    height: 220px;
    width: 400px;
    margin: auto;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .drive-videos {
    display: flex;
    height: 220px;
    width: 333px;
    margin: auto;
    justify-content: center;
  }
  .interests-grid {
    gap: 20px;
  }
}

@media (max-width: 950px) {
  .interests-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    text-align: center;
    grid-template-areas: 
    "vid-1"
    "pic-1"
    "vid-2"
    "vid-3"
    "pic-2"
    "vid-4"
  }
}

/* FOOTER */
.footer-section {
  background-color: black;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer a {
  display: inline;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
}
